.slider_section{
    position: relative;
}

.slider_scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -10px;
}

.slick-dots {
    left: auto;
    width: auto;
    right: 40px;
}

.slick-dots li button {
    background: #fff;
}

.fix_slider {
    margin-left: -150px;
    margin-right: -150px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {    
    .fix_slider {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}



